@import '../../styles/variables.scss';
.contentItem {
  width: 20vw;
  min-width: 160px;
  min-height: 200px;
  padding: 10px;

  margin: 10vh 0;
  opacity: 0.75;
  z-index: 50;
  transition: all 50ms ease;

  & .imageContainer {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 20vw;
    min-width: 150px;
    height: 15vw;
    min-height: 150px;
    overflow: hidden;
    transition: all 50ms ease;
  }

  & .title {
    font-size: 2em;
    line-height: 2em;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    display: none;
  }

  & .description {
    font-size: 1.4em;
    display: none;
  }

  &.selected {
    width: 50vw;
    z-index: 100;
    opacity: 1;
    margin: 0;

    & .imageContainer {
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 45vw;
      min-width: 150px;
      height: auto;
      min-height: 150px;
      overflow: hidden;
      box-shadow: 15px 0px 20px 0px $nfx-navy, -15px 0px 20px 0px $nfx-navy;
    }

    & .title {
      display: block;
    }

    & .description {
      display: block;
    }
  }

  &.left {
    margin-right: -120px;
  }

  &.right {
    margin-left: -120px;
  }
}

.mediaImage {
  width: 100%;
  height: auto;
}

.loadingWrap {
  text-align: center;
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

.single-slide {
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  width: 30%;
  position: absolute;
  background-color: white;
  transition: 2s ease;
  box-shadow: 0px 5px 10px lightgrey;
}

/* Left slide*/
.single-slide[data-order='1'] {
  left: 10vw;
  transform: translate(-50%) scale(0.8, 0.9) rotateY(5deg);
  z-index: 1;
}

/* Middle slide */
.single-slide[data-order='2'] {
  left: 40vw;
  transform: translate(-50%);
  z-index: 3;
}

/* Right slide*/
.single-slide[data-order='3'] {
  left: 90vw;
  transform: translate(-120%) scale(0.8, 0.9) rotateY(-5deg);
  z-index: 2;
}

.single-slide:nth-child(2) {
  order: 3;
}
.single-slide:nth-child(1) {
  order: 2;
}

.single-slide:nth-child(3) {
  order: 1;
}
